@model EspacoPotencial.Areas.Cadastro.Models.Usuarios.usuario_sala

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="display-4 text-center mb-5">Detalhes</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Detalhes do Usuário na Sala</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Periodo)
                        </dt>
                        <dd class="col-sm-10">
                            @switch (Model.Periodo)
                            {
                                case "m":
                                    <text>Manhã</text>
                                    break;
                                case "t":
                                    <text>Tarde</text>
                                    break;
                                case "n":
                                    <text>Noite</text>
                                    break;
                                default:
                                    <text>Período Inválido</text>
                                    break;
                            }
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Inicio)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Inicio)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Final)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Final)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Usuario)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Usuario.Geral.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Sala)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Sala.Nome)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary ml-3"><i class="fas fa-angle-double-left"></i> Voltar</a>
</div>
