@model EspacoPotencial.Areas.Cadastro.Models.Public.geral

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="display-4 text-center mb-5">Detalhes</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center mb-4">Geral</h4>

            <dl class="row">
                <dt class="col-sm-2">Tipo:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Tipo)</dd>

                <dt class="col-sm-2">Nome:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Nome)</dd>

                <dt class="col-sm-2">Situação:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Situacao)</dd>

                <dt class="col-sm-2">Documento:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Docto)</dd>

                <dt class="col-sm-2">Endereço:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Endereco)</dd>

                <dt class="col-sm-2">Número:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Numero)</dd>

                <dt class="col-sm-2">Complemento:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Complemento)</dd>

                <dt class="col-sm-2">Cidade:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Cidade)</dd>

                <dt class="col-sm-2">Estado:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Estado)</dd>

                <dt class="col-sm-2">CEP:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Cep)</dd>

                <dt class="col-sm-2">Data de Cadastro:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.DataCadastro)</dd>

                <dt class="col-sm-2">Telefone 1:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Telefone1)</dd>

                <dt class="col-sm-2">Telefone 2:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Telefone2)</dd>

                <dt class="col-sm-2">E-mail 1:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Email1)</dd>

                <dt class="col-sm-2">E-mail 2:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Email2)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
    </div>
</div>
