@model IEnumerable<EspacoPotencial.Areas.Cadastro.Models.Funcionarios.atestado_medico>

@{
    ViewData["Title"] = "Listagem ";
}

<h1>Listagem de Atestado Medico</h1>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Cadastro de Atestado</a>
</p>
<table class="table" id ="Cadastro">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cid.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.funcionario.geral.Nome)
            </td>
            <td>
                 <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"> <i class="fas fa-info-circle"></i> Detalhes</a> 
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> Editar</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Excluir</a> 
            </td>
        </tr>
}
    </tbody>
</table>
