@model EspacoPotencial.Areas.Cadastro.Models.Financeiro.movimento_produtos

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>movimento_produtos</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.produto_geral_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.produto_geral_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.produto_evento_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.produto_evento_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutosQuantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutosQuantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutosValorUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutosValorUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutosValorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutosValorTotal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="movimento_id" />
       <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary "><i class="fas fa-angle-double-left"></i> Voltar</a>
    </form>
</div>
