@model EspacoPotencial.Areas.Cadastro.Models.Financeiro.produtos_evento

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="display-4 text-center mb-5">Detalhes</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Detalhes do Produto de Evento</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Produto.produtos_descricao)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Produto.produtos_descricao)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.prod_evento_valor_uni)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.prod_evento_valor_uni)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Evento.evento_nome)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Evento.evento_nome)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.GrupoPermitido.grp_descricao)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.GrupoPermitido.grp_descricao)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-5">
    <a asp-action="Edit" asp-route-id="@Model.prod_evento_id" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</a> 
    <a asp-action="Index" class="btn btn-secondary ml-3"><i class="fas fa-angle-double-left"></i> Voltar</a>
</div>
