@model EspacoPotencial.Areas.Cadastro.Models.Funcionarios.epi_funcionario

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="display-4 text-center mb-5">Detalhes do Equipamento de Proteção Individual (EPI) do Funcionário</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">EPI do Funcionário</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4 text-muted">
                            <strong>Vencimento:</strong>
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Vencimento)
                        </dd>
                        <dt class="col-sm-4 text-muted">
                            <strong>Data de Entrega:</strong>
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Entrega)
                        </dd>
                        <dt class="col-sm-4 text-muted">
                            <strong>Funcionário:</strong>
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Funcionario.geral.Nome)
                        </dd>
                        <dt class="col-sm-4 text-muted">
                            <strong>EPI:</strong>
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.epi_geral.Nome)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-5">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary ml-3"><i class="fas fa-angle-double-left"></i> Voltar</a>
</div>
