@model IEnumerable<EspacoPotencial.Areas.Cadastro.Models.Usuarios.sala>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

<h1>Listagem de Sala de Aula</h1>

<p>
     <a asp-action="Create" class="btn btn-success btn-sm">Cadatro</a>
</p>
<table class="table" id ="Cadastro" id ="Cadastro">
    <thead>
        <tr>
             <th>
                Nome Sala
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @if (item.Periodo == "m")
                {
                    @Html.Raw("Manhã")
                }
                else if (item.Periodo == "t")
                {
                    @Html.Raw("Tarde")
                }
                else if (item.Periodo == "n")
                {
                    @Html.Raw("Noite")
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Periodo)
                }
            </td>        
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.geral.Nome)
            </td>
            <td>
                 <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"> <i class="fas fa-info-circle"></i> Detalhes</a> 
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> Editar</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Excluir</a> 
            </td>
        </tr>
}
    </tbody>
</table>

