@model EspacoPotencial.Areas.Cadastro.Models.Funcionarios.exame_medico

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="display-4 text-center mb-5">Detalhes do Exame Médico</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">Exame Médico</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Exame)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Exame)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.DataAgendada)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.DataAgendada)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.DataExecuta)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.DataExecuta)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Funcionario)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Funcionario.geral.Nome)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-5">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</a>
    <a asp-action="Index" class="btn btn-secondary ml-3"><i class="fas fa-angle-double-left"></i> Voltar para a Lista</a>
</div>
