@model EspacoPotencial.Areas.Cadastro.Models.Usuarios.responsavel

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="display-4 text-center mb-5">Detalhes</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Detalhes do Responsável</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Vinculo)
                        </dt>
                        <dd class="col-sm-9">
                            @if (Model.Vinculo == "1")
                            {
                                <text>Responsável Principal</text>
                            }
                            else if (Model.Vinculo == "2")
                            {
                                <text>Vinculado</text>
                            }
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.LocalTrabalho)
                        </dt>
                        <dd class="col-sm-9">
                             @Html.DisplayFor(model => model.LocalTrabalho)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Retira)
                        </dt>
                        <dd class="col-sm-9">
                            @if (Model.Retira == "1")
                            {
                                <text>Responsável Principal</text>
                            }
                            else if (Model.Retira == "2")
                            {
                                <text>Vinculado</text>
                            }
                        </dd>

                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Observacao)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Observacao)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Geral)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Geral.Nome)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Usuario)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Usuario.Geral.Nome)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-5">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</a>
    <a asp-action="Index" class="btn btn-secondary ml-3"><i class="fas fa-angle-double-left"></i> Voltar</a>
</div>
